@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/* navbar */
.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  75px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logo-celular{
    height: 50px;
}
body{
  background-image: url(../img/preguntasfrecuentes.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arvo', sans-serif;
  }
  nav a{
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color:#37ffca;
}
.active{
    color: #8aa2a9;
}
.buscador input{
    width: 180px;
    padding: 10px;
    border: 1px solid #00bd80;
    border-radius: 20px;
}
.agradecimientos p{
    font-size: 0,7rem;
    transition: all .4s ease-in-out;
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6{
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6:hover{
    color: #37ffca;
}
.agradecimientos a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.agradecimientos a:hover{
    color: #37ffca;
    
}