@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');
/* navbar */

.logo-celular{
    height: 60px;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #71C948;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
nav a:hover{
    color:#37ffca;
}
.active{
    color: #8aa2a9;
}

/* FOOTER */
.footer-a{
    color: black ;
}

.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color: #71C948;
}
.ailu img{
    height: 90px;
}
/* Section */

.mySwiper{
    position: relative;
    height: 100%;
  }

  section {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-color: #37ffca;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    margin: 50px;
    width: 350px !important;
    height: 100px;
  }

  .swiper-slide img {
    border-radius: 20px;
    display: block;
    width: 100%;
  }
  
  
  






