.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  53px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
header{
    background-color: #D6D6D6;

}
header a{
    color: #00bd80;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: #00bd80;
}
#contact {
    color: #00bd80;
}
#contact :is(
    input, 
    textarea, 
    select){
        border-radius: 10px;
        outline: none;
        border: 1.5px solid #00bd80;
        padding: .25rem 1rem;
        font-size: 0.9rem;
        resize: none;
    }
.btn{
    width: 30%;
    color: black;
    border-radius: 3rem;
    border: solid 2px #00bd80;
    background-color: rgb(189, 189, 189);
    margin-top: 2rem;
}
.btn:hover{
    background-color: #fefefe;
    border: solid 2px #00bd80;
    color: #00bd80;
}
form p{
    color:  #00bd80;
}