#contact{
    display: grid;
    padding: 1rem;
    justify-content: right;
    height: 590px;
    color: #00bd80;
}
main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    display: flex;
}
.logo img{
    height: 690px;
}
 
 #contact label{
    margin-top: 20px;
    overflow: hidden;
} 

#contact textarea{
    resize: vertical;
    min-height: 5rem;
}
#contact .btn{
    margin: .25rem 0 0 auto;
    text-transform: uppercase;
    
}
#contact .validation{
    display: none;
}
#contact :focus + .validation{
    display: block;
}
#contact :is(
    input, 
    textarea, 
    select){
        border-radius: .30rem;
        outline: none;
        border: 1.5px solid #333;
        padding: .25rem 1rem;
        font-size: 0.9rem;
    }
.btn{
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: .25rem;
    border: solid 2px transparent;
}
.btn:hover{
    background-color: #fefefe;
    border: solid 2px #00bd80;
    color: #00bd80;
}

#contact button{
    margin: .25rem 0 0 auto;
    text-transform: uppercase;
}
#contact :not(button):valid{
    border-color: #284;
}
#contact :valid + .validation{
    color: #284;
}

#contact :not(:placeholder-shown):invalid{
    border-color: #c33;
}
#contact :not(:placeholder-shown):invalid + .validation{
    color: #c33;
}