html,body {
    height : 50%;
   margin : 0 ;
    padding : 0 ;
  }
  #map {
      height : 100%;
  }
  input{
    border-radius: 0;
    font-size: 20px;
  }
   .farmacias_list {
    position : absolute ;
    top : 8vh ;
    left : 50vw;
    font-size: 18px;
    color: white;
    background-color : #00bd80;
    padding: 10px;
    /*  opacity : 0.8 ; */
    border-radius : 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .farmacias_list > h3{
    text-align: center;
    border-bottom: 3px solid gainsboro;
    font-size: 20px;
  }
  .farmacias__names{
    cursor: pointer;
  } 
  .farmacias__names > h4{
    font-size: 18px;
    text-align: center;
  } 