@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');
#busca-tu-farmacia{
	background-image: url(../img/fondo-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
}
html,body {
    height : 50%;
   margin : 0 ;
    padding : 0 ;
  }
  #map {
      height : 50%;
  }
  input{
    border-radius: 0;
    font-size: 20px;
  }
   .farmacias_list {
    position : absolute ;
    top : 8vh ;
    left : 50vw;
    font-size: 18px;
    color: white;
    background-color : #71C948;
    padding: 10px;
    /*  opacity : 0.8 ; */
    border-radius : 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .farmacias_list > h3{
    text-align: center;
    border-bottom: 3px solid gainsboro;
    font-size: 20px;
  }
  .farmacias__names{
    cursor: pointer;
  } 
  .farmacias__names > h4{
    font-size: 18px;
    text-align: center;
  } 
  element.style {
    height : 50%;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* navbar */
.logo-celular{
    height: 60px;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #71C948;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
nav a:hover{
    color:#37ffca;
}
.active{
    color: #8aa2a9;
}
/* FOOTER */
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
/* FOOTER */
.footer-a{
    color: black;
}
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#71C948;
}
.ailu img{
    height: 90px;
}
.ft{
	border: 1px solid  #71C948;
	border-radius: 20px;
	padding: 8px;
  color: black;
  }