@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');
/* #busca-tu-farmacia{
	background-image: url(../img/fondo-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
} */
html,body {
 background-color: #eee;
    height : 50%;
   margin : 0 ;
    padding : 0 ;
  }
  .main{
    background-color: #eee;
  }
  #map {
      height : 300px;
  }
  input{
    border-radius: 0;
    font-size: 20px;
  }
   .farmacias_list {
    color: white;
    background-color : #71C948;
    padding: 15px;
    border-radius: 20px;
    -webkit-box-shadow: 14px 15px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 15px 38px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 15px 38px 0px rgba(0,0,0,0.75);
  }
  .farmacias_list > h3{
    border-bottom: 2px solid gainsboro;
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
  }
  .mi-ubicacion{
    background-color: #71C948;
  }
  .btn:focus{
    background-color: #71C948 !important;
  }
  .mi-ubicacion:hover{
    background-color: #71C948;
  }
  .main{
    background: #eee !important ;
  }
  .ubi{
    color: #ffff;
    border-bottom: 1px solid #ffff;
    padding: 0;
  }
  .ubi:hover{
    color: #ffff;
    border-bottom: 1px solid #ffff !important;
    padding: 0;
    border: none;
  }
  .window{
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 0 2rem;
    padding-bottom: 1rem;
    background-color: #333;
  }
  .gm-style-iw{
    background-color: #333 !important;
    opacity: 0,8 !important;
    box-shadow: 0 2px 7px 7px rgba(0, 0, 0,0.5) ;
  }
  .window > h2{
    border-bottom: 2px solid gainsboro;
    font-size: 18px;
  }
  .h3, h3 {
    font-size: 14px;
  }
  .address, .phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .address > i{
    margin-right: 1rem;
    color: tomato;
  }
  .phone > i{
    margin-right: 1rem;
    color: lightblue;
  }
  .gm-style-iw-t::after{
    visibility: hidden;
  }
  .gm-ui-hover-effect{
    background-color: #ffff !important;
    border-radius: 50% !important;
  }
  .gm-style-iw-d{
    overflow: hidden !important;
  }
  .farmacias__names{
    cursor: pointer;
  } 
  .farmacias__names > h4{
    font-size: 14px;
    color: #ffff;
    font-weight: 800;
    font-family: 'Oxygen', serif;
  } 
  element.style {
    height : 50%;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* navbar */
nav,footer{
  background-color: white;
}
.logo-celular{
    height: 60px;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #71C948;
}
.navbar-toggler{
    border: 3px solid  #71C948;   
   }
   nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #42961b;
}
nav a:hover{
    color:#a6e28a;
    border-bottom:2px solid #3c8819 ;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
   .logo-celular{
    height: 60px;
}
.logo-celular-form{
    height: 450px;
} 

.active { 
    color: #71C948;
    box-shadow: 0 0  10px #8eada3;
    padding: 3px;

}
/* FOOTER */
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
/* FOOTER */
.footer-a{
    color: black;
}
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#71C948;
}
.ailu img{
    height: 90px;
}
.ft{
	border: 1px solid  #71C948;
	border-radius: 20px;
	padding: 8px;
  color: black;
  }
  @media (max-width: 750px){
    html,body {
        height : 30%;
       margin : 0 ;
        padding : 0 ;
      }

    }
  
