/* Reglas generales */
@media (max-width:700px){ 
    header,
    .logo,
    div img,
    footer h1,
    h2{
        flex-direction: column;
    }
}
body{
    margin: auto; /*Con esto quito los margenes para que se diferencia del background*/
    background-color:whitesmoke;
    box-sizing: border-box;
   
}


/* Importo Letra */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* REGLAS OPINION */
@import url(./opinion.css);

/* REGLAS PREGUNTAS FRECUENTES */
@import url(./preguntasfrecuentes.css);

/* REGLAS HEADER */
@import url(./header.css);
@import url(./grupodev.css);
