@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#grup-dev{
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: #00bd8a;
}
#cont-dev{
    font-size: 1.5rem;
    background-color: #d6d6d6;
    width: 100%;
    height: 200px;
   
    
}

.dev img{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 1rem;
    justify-content: center;

}
.dev{
    display: inline-flex;
    flex-direction: row;
    column-gap: gap;
    color: #00bd8a;
    margin: 1rem;
}
#red{
    background-color: #00bd8a ;
    width: 100%;
    height: 40px;
    text-align:left;
}
#red img{
    width: 25px;
    height: 25px;
   border-radius: 10px;
   box-shadow: 1px;
}
#red button{
    border-radius: 25px;
}
#grup-dev h2{
    font-size: 1rem;
    color: black;
}
