@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');

/* navbar */
.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  75px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
#nosotros{
	background-image: url(../img/fondo-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo-celular{
    height: 60px;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color:#37ffca;
}

.active{
    color: #8aa2a9;
}

/* Cards */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', serif;
}
main{
    padding-left: 120px;
    display: flex;
    flex-wrap: wrap; 

}
.card{
    justify-content: column;
    position: relative;
    width: 218px;
    height: 630px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(73, 69, 52, 0.4);
    margin: 35px;
    -webkit-box-shadow: 0px 5px 19px 15px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 5px 19px 15px rgba(0,0,0,0.74);
box-shadow: 0px 5px 19px 15px rgba(0,0,0,0.74);
}
.card .content{
    font-family: 'Lato', serif;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background: #fff ;
}
.card .content .img{
    height: 27%;
    margin-bottom: 20px;
}
.card .content .img img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px black;
}
.card .content span{
    position: absolute;
    width: 350px;
    height: 180px;
    background: linear-gradient( to right ,#74c69d,#1b4332); 
    transform: rotate(-35deg);
    top: -50px;
    left: -100px;
}
.card .content h4{
    font-size: 23px;
    color: #2a9d8f;
    margin-bottom: 5px;
    font-weight: 800;
    font-family: 'Oxygen', serif;
}
.card .content h6{
    font-size: 18px;
    color: #006d77;
    margin-top: 10px;
    font-weight: 800;
    font-family: 'Oxygen', serif;
}
.card .links {
    position:absolute;
    z-index: 90;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgb(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 10px;
    top: 15px;
    transition: .5s;

}
.card:hover .links{
    right: -50px;
    border-radius: 0 10px 10px 0;
}
.card .links a{
    font-size: 20px;
    color: #646069;
}
.card .links a:nth-child(1):hover{
    color:#0a0a0a
}
.card .links a:nth-child(2):hover{
    color:#00ca3d
}
.card .links a:nth-child(3):hover{
    color:#1271ec
}
p{
    font-weight: 900;
    font-size: 14px;
    font-family: 'Arvo', serif;
}
.titulo{
    color: #0a0a0a;
    font-size: 20px;
    font-family: 'Lato', serif;
    margin: 0;
}

@media (max-width: 750px){
    main{
        padding-left: 50px;
        display: flex;
        flex-wrap: wrap; 
    }
    .ft{
        color: #fff;
        border: 1px solid  #fff;
    }
    .fa-arrow-right{
        color: #fff;
    } 
}

/* FOOTER */
.footer-a{
    color: black ;
}
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#026d4d;
}
.ailu img{
    height: 90px;
}
.ft{
	border: 1px solid  #00bd80;
	border-radius: 20px;
	padding: 8px;
  }