@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');

/* navBar */
.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  75px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logo-celular{
    height: 50px;
}
body{
  /* background-image: url(../img/fondo-comentarios.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arvo', sans-serif;
  }
  nav a{
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color:#37ffca;
}
.active{
    color: #8aa2a9;
}
.buscador input{
    width: 180px;
    padding: 10px;
    border: 1px solid #00bd80;
    border-radius: 20px;
}
/* main */
main{
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
}
/* Titulos */
h1,
h2{
    font-family: 'Arvo', sans-serif;
}
/* formulario */
#contact {
    color: whitesmoke;
}
#contact :is(
    input, 
    textarea, 
    select){
        border-radius: 10px;
        outline: none;
        border: 1.5px solid #00bd80;
        padding: .25rem 1rem;
        font-size: 0.9rem;
        resize: none;
        font-family: 'Arvo', sans-serif;
    }
label{
    font-family: 'Arvo', sans-serif;
}
.btn{
    width: 30%;
    color: black;
    border-radius: 3rem;
    border: solid 2px #00bd80;
    background-color: rgb(189, 189, 189);
    margin-top: 2rem;
}
.btn:hover{
    background-color: #fefefe;
    border: solid 2px #00bd80;
    color: #00bd80;
}
form p{
    color:  whitesmoke;
    font-family: 'Arvo', sans-serif;
}


/* FOOTER  */

.breadcrumb-item .fa-brands{
    width: 20px;
    height: 20px;
    font-size: 24px;
}
.breadcrumb-item a{
    width: 20px;
    height: 20px;
    font-size: 12px;
}
.fondo{
    background-color:#D6D6D6;
}
.agradecimientos p{
    font-size: 0,7rem;
    transition: all .4s ease-in-out;
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6{
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6:hover{
    color: #37ffca;
}
.agradecimientos a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.agradecimientos a:hover{
    color: #37ffca;
    
}

