@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');

/* navBar */
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arvo', sans-serif;
}
.navbar-toggler{
 border: 3px solid  #97E8B5;   
}
nav a{
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: #00bd80;
}
*{
	margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
}
.row{
	margin: 0;
}
.logo-celular{
    height: 60px;
}
.logo-celular-form{
    height: 450px;
} 
.active{
    color: #8aa2a9;
}
/* main */
main{
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
}
/* formulario */
.formulario__grupo-input {
	position: relative;
}

.formulario__input-error {
	font-size: 14px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__mensaje {
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

/* boton de enviar */
.formulario__btn {
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 6px 6px 12px #c5c5c5,
				-6px -6px 12px #ffffff;
   }
   
   .formulario__btn::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
   }
   
   .formulario__btn:hover::before {
	width: 9em;
   }

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
input, 
textarea {
	border-radius: 5px !important;
	font-size: 0.8rem !important;
	resize: none;
}
/* mensajes e iconos de exito y error */
.formulario__mensaje-exito {
	font-size: 12px;
	color: #000;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* FOOTER */
footer{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    border-top: 1px solid #026d4d;
}
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#026d4d;
}
.ailu img{
    height: 90px;
}