@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');
/* NAVBAR  */

.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color:#37ffca;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
   .logo-celular{
    height: 60px;
}
.logo-celular-form{
    height: 450px;
} 
.active{
    /* border: 1px solid #00bd80; */
    border-radius: 20px;
    padding: 5px 10px;
}

.active{
    color: #8aa2a9;
}
/* QUESTION & ANSWER */

main{
    place-items: center;
    font-family:'Lato', sans-serif ;
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
    background-size: cover;
    background-repeat:no-repeat ;
    color: #fff;
    height: 150vh;
}  
.accordion-item{
    background-color :  #9eebbb  !important; 
    border:none !important; 
    font-family: 'Oxygen';
}
.accordion-button{
    border: none;
    background-color: #25b67e !important;
    font-family: 'Lato';
    padding: 20px;
} 
.accordion-button:not(.collapsed){
    color: black !important;
}
.accordion-button:hover{
    color: #37ffca;
} 
.centrado{
    margin-left: 24%;
}
.accordion-button:active{
    border: none;
    color: #00bd80;
    background-color: #05b989;
}   
.accordio-header:active{
    border: none !important;
}
.accordion-button:not(.collapsed){
    box-shadow: none !important;
}
.accordion-button:focus{
    box-shadow: none !important;
}
/* FOOTER */
footer{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    border-top: 1px solid #026d4d;
}
.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#026d4d;
}
.ailu img{
    height: 90px;
}
