@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');
/* NAVBAR  */
#preguntas-frecuentes{
	background-image: url(../img/fondo-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #42961b;
}
nav a:hover{
    color:#a6e28a;
    border-bottom:2px solid #3c8819 ;
}
.navbar-toggler{
    border: 3px solid  #97E8B5;   
   }
   .logo-celular{
    height: 60px;
}
.logo-celular-form{
    height: 450px;
} 

.active { 
    color: #71C948;
    box-shadow: 0 0  10px #8eada3;
    padding: 3px;

}
/* QUESTION & ANSWER */

main{
    place-items: center;
    font-family:'Lato', sans-serif ;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 150vh;
}  
.accordion-item{
    background-color :  #9eebbb  !important; 
    border:none !important; 
    font-family: 'Oxygen';
}
.accordion-button{
    border: none;
    background-color: #25b67e !important;
    font-family: 'Lato';
    padding: 20px;
} 
.accordion-button:not(.collapsed){
    color: black !important;
}
.accordion-button:hover{
    color: #37ffca;
} 

.accordion-button:active{
    border: none;
    color: #00bd80;
    background-color: #05b989;
}   
.accordio-header:active{
    border: none !important;
}
.accordion-button:not(.collapsed){
    box-shadow: none !important;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.altura-acordion{
    margin-top: 3%;
}
/* FOOTER */

.jp-morgan img{
    height: 30px;
}
.fundacion-pescar img{
    height: 60px;
}
.educacionit-tamaño img{
    height: 80px;
}
.p-footer{
    color:#026d4d;
}
.ailu img{
    height: 90px;
}
.footer-a{
    color: black ;
}