@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* RESPONSIVE */
@media (max-width:700px){ 
    header,
    .logo,
    div img,
    footer h1,
    h2{
        flex-direction: column;
    }
}


/* navbar */
.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  75px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logo-celular{
    height: 50px;
}
header{
    background-color: #D6D6D6;
}
header a{
    color: #00bd80;
    text-decoration: none;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arvo', sans-serif;
  }
nav a{
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color: whitesmoke;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*MAIN*/
main img{
    height: 600px;
} 
.slider-frame {
    
	width: 960px;
    height:auto ;
	margin:10px auto 10px;
	overflow: hidden;
    margin-top: 2.5rem;
}
.fondo-carrusel{
    background: rgba(102,102,102,1);
background: -moz-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(107,107,107,1)), color-stop(21%, rgba(110,110,110,1)), color-stop(61%, rgba(0,128,105,1)), color-stop(100%, rgba(0,128,105,1)));
background: -webkit-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
background: -o-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
background: -ms-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
background: linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#008069', GradientType=1 );
    padding: 20px !important ;
}

.slider-frame ul {
    width: 400%;
	display: flex;
    padding: 0;
	animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul li {
	width: 100%;
    height: 600px;
	list-style: none;
}

.slider-frame div ul li img {
	width: 80%;
   
}

@keyframes slide {
	0% {margin-left: 5%;}
	20% {margin-left: 5%;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* PREGUNTAS FRECUENTES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 780px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
    background: rgba(194,194,194,1);
background: -moz-linear-gradient(left, rgba(194,194,194,1) 0%, rgba(189,189,189,1) 46%, rgba(179,179,179,1) 51%, rgba(232,232,232,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,194,194,1)), color-stop(46%, rgba(189,189,189,1)), color-stop(51%, rgba(179,179,179,1)), color-stop(100%, rgba(232,232,232,1)));
background: -webkit-linear-gradient(left, rgba(194,194,194,1) 0%, rgba(189,189,189,1) 46%, rgba(179,179,179,1) 51%, rgba(232,232,232,1) 100%);
background: -o-linear-gradient(left, rgba(194,194,194,1) 0%, rgba(189,189,189,1) 46%, rgba(179,179,179,1) 51%, rgba(232,232,232,1) 100%);
background: -ms-linear-gradient(left, rgba(194,194,194,1) 0%, rgba(189,189,189,1) 46%, rgba(179,179,179,1) 51%, rgba(232,232,232,1) 100%);
}
section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: 'Avron',sans-serif;
    background-color: grey;
    transition: all .2s ease-in-out;
    background: rgba(102,102,102,1);
    background: -moz-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(107,107,107,1)), color-stop(21%, rgba(110,110,110,1)), color-stop(61%, rgba(0,128,105,1)), color-stop(100%, rgba(0,128,105,1)));
    background: -webkit-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
    background: -o-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
    background: linear-gradient(45deg, rgba(102,102,102,1) 0%, rgba(107,107,107,1) 0%, rgba(110,110,110,1) 21%, rgba(0,128,105,1) 61%, rgba(0,128,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#008069', GradientType=1 );
}
section a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid whitesmoke;
    font-family: 'Avron', sans-serif;
}
section a:hover{
    color: #029b6a;
}
section a:active{
    text-shadow: #aeaaaa;
    color: #37ffca;
}
section:target p{
    max-height: 120px;
    padding: 10px;
    
}
/* FOOTER */
footer .card ,
.list-group li{
    background-color:#D6D6D6;
}

.titulo h1{
    color: #00bd8a;
}
.titulo h1:hover{
    color: #37ffca;
    font-family: 'Avro', sans-serif;
}
.card h5,
.card h5 a ,
.list-group li a {
color: black;
text-decoration: none;

}
.card h5:hover,
.card h5 a:hover ,
.list-group li a:hover{
    color:#00bd8a ;
    
}

.list-group-item p {
    font-size: 0.5rem;
    transition: all .4s ease-in-out;
}
.list-group-item p:hover{
    font-size: 1rem;
    background-color:#aeaaaa;
}
.list-group-item{
    border: none !important;
}