@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* RESPONSIVE */
@media (max-width:700px) {

    header,
    .logo,
    div img,
    footer h1,
    h2 {
        flex-direction: column;
    }
}

body {
    margin: auto;
    /*Con esto quito los margenes para que se diferencia del background*/
    background-color: whitesmoke;
    box-sizing: border-box;

}

/*FOOTER*/
header {
    border: auto;
    display: flex;
    /*Quiero que se vea horizontal*/
    justify-content: space-between;
    /*para que los contenidos dentro del header se separen  uno este es A y el otro en B*/
    min-height: 70px;
    /*Le doy un min al alto para que se adapte al responsive*/
    align-items: center;
    /*Alineo los elementos Verticalmente*/
    background-color: #D6D6D6;
    padding: 9px;
    /*Mpver los elementos de su orden*/
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;


}

.logo {
    display: flex;
    /*Agarro todo el contenido que quiero que sea horizontal*/
    align-items: center;
    /*Alineo los elementos Verticalmente*/
}

.logo img {
    height: 50px;
    /*Le doy una altura minima 50 px para que me quede tipo logo*/
    align-items: center;
    /*Alineo los elementos Verticalmente*/
    margin-right: 53px;
    /*Separo el texto de la imagen*/
}

a {
    text-decoration: none;
    /*Le saco los hipervinculos raros*/
    color: #20D1A1;
    /*Le doy color*/
    padding-right: 20px;
    /*Doy espacio entre palabra y palabra*/
}

nav a:hover {
    color: grey;
    /*Le doy un estilo a la hora de pasar el scroll*/
}

h2:hover {
    color: grey;
    /*Le doy un estilo a la hora de pasar el scroll*/
}

/*//////////////////////////////////////////////////////////////////////////*/
/*MAIN*/
main img {
    height: 600px;
}

.slider-frame {

    width: 960px;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    width: 400%;

    display: flex;
    padding: 0;

    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul li {
    width: 100%;
    height: 600px;
    list-style: none;
}

.slider-frame div ul li img {
    width: 80%;

}

@keyframes slide {
    0% {
        margin-left: 5%;
    }

    20% {
        margin-left: 5%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.main {

    background-color: #D6D6D6;
}

/*FOOTER*/
.logoPreguntasFrecuentes img {
    float: right;
    height: 500px;
    width: 600px;
    position: relative;
    top: 150px;
}

.logoPreguntasFrecuentes h1 {
    color: #20D1A1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    text-align: center;

}
<<<<<<< HEAD

/*titulo card*/
/* .titulo {
    background-color: hsl(158, 94%, 82%);

} */


/* titulo dev*/
#titulo-dev {

    color: black;


}

#titulo-dev span {
    transform: translate(-50%, -50%);
    font-size: 13vh;
    font-weight: 800;
    box-shadow: 0.45em, 0.40em, 0.20em rgb(146, 142, 142);
    border-color: beige;
}

#titulo-dev span:not(:first-child) {
    margin-left: -0.23em;

}

#titulo-dev span:hover {
    font-size: 15vh;
}

/*Footer card*/
.container {
    background-image: url(../img/carrusel1.jpeg);

}

=======
/*titulo card*/
.titulo{
    background-color: #20D1A1;
}
.titulo h1{
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
}
.titulo h1:hover{
    font-size: 8rem;
}
/*Footer card*/
.container{
    background-image:url(../img/carrusel1.jpeg);
    
}
>>>>>>> 35ddad969ce3d1cd82b71f04bb77064b05f25549
.fa-github {
    font-size: 30px;
    color: white;
    padding: 7px 0 0 0;
}
<<<<<<< HEAD

.fa-envelope {
    color: rgb(161, 155, 250);
    ;
    background-color: white;
=======
.fa-envelope{
    color:  rgb(161, 155, 250); ;
    background-color:white;
>>>>>>> 35ddad969ce3d1cd82b71f04bb77064b05f25549
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 7px 0 0 0;
    border-radius: 20px;
    margin: 0 4px;
<<<<<<< HEAD

}

.fa-linkedin-in {
=======
    
}
.fa-linkedin-in{
>>>>>>> 35ddad969ce3d1cd82b71f04bb77064b05f25549
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 4px;
}
<<<<<<< HEAD

.card p {
    font-size: 14px;
<<<<<<< HEAD

    font-weight: 1000;
    color: powderblue;
}

.card h5 {
    font-weight: 400;
    color: #202124;
=======
.card p{
    font-size: 14px;
    font-weight: 900;
    color: white;
=======
    
    font-weight: 1000;
    color: powderblue;
>>>>>>> 91a1b4440ac73fbfa46076c479eb1d2c69d2a524
}
.card h5{
    font-weight: 400;
    color:#202124;
>>>>>>> 35ddad969ce3d1cd82b71f04bb77064b05f25549
    font-family: 'Anton', sans-serif;
}

.card img {
<<<<<<< HEAD

    border-radius: 30%;

    box-shadow: 2px 2px rgb(195, 195, 225);


}

.card {
    height: 32%;
    background-color: #20D1A1;
    box-shadow: 5px 5px rgb(195, 195, 225);
    overflow: hidden;

}

.card:hover {
    height: auto;

}

.title p {
    text-align: center;
    font-size: 1.2rem;
}
=======
   
    border-radius:30%;
    
    box-shadow: 2px 2px rgb(195, 195, 225);
    

}
.card{
    height: 32%;
    background-color:#20D1A1;
    box-shadow: 5px 5px rgb(195, 195, 225);
    overflow: hidden;
    
}  
 .card:hover{
    height: auto;
    
 }  
 .title p{
   text-align: center;
    font-size: 1.2rem;
 }
>>>>>>> 35ddad969ce3d1cd82b71f04bb77064b05f25549



/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */


.contenedor-preguntas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contenedor-pregunta {
    /* background:white; */
    padding: 20px;
    border: 2px solid transparent;
    /* border-radius: 80px; */
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor-pregunta:hover {
    color: green;
}

/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */

.pregunta {
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;

}

.pregunta img {
    width: 12px;
}


/* SECCION RESPUESTA */
/* SECCION RESPUESTA */
/* SECCION RESPUESTA */
/* SECCION RESPUESTA */

.respuesta {
    color: black;
    line-height: 30px;
    font-size: 20px;

    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
    opacity: 1;
    margin-top: 20px;
    border-bottom: 1px solid green;
}

.contenedor-pregunta.activa img {
    transform: rotate(25deg);
}

/*  */
/*  */
/*  */