@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oxygen:wght@300&display=swap');

.display-flex{
    display: flex;

    }
    .margin-auto{
        margin: 0.5rem auto;
    }

/* navbar */
.logo img{
    height:  900px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logoNav img{
    height:  75px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
   align-items: center;/*Alineo los elementos Verticalmente*/
   margin-right: 53px;/*Separo el texto de la imagen*/
}
.logo-celular{
    height: 50px;
}
.title p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', serif;
  }
  nav a{
    font-family: 'Lato', serif;
    text-decoration: none;
    color: #00bd80;
}
nav a:hover{
    color:#37ffca;
}
nav{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.active{
    color: #8aa2a9;
}

/*//////////////////////////////////////////////////////////////////////////*/
/* TITLE */
h1{
    color:#026d4d;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
    /* -webkit-box-shadow: 10px 10px 53px 0px rgba(101,214,157,1);
-moz-box-shadow: 10px 10px 53px 0px rgba(101,214,157,1);
box-shadow: 10px 10px 53px 0px rgba(101,214,157,1); */


}
.border{
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
    /* background: #95d5b2;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0,255,123,1);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0,255,123,1);
    box-shadow: 10px 10px 53px 0px rgba(0,255,123,1);  */
    font-size: 20px;
}
.border a{
    color:#00694d;
    text-decoration: none;
}
a:hover{
    color: #ff5111;
}
.texto-inicio{
    color: #fefeff;
    font-size: 22px;
    font-family:'Oxygen',sans-serif;
}
 /* Carousel para la presentacion del 29/07/2022 */
.carousel{
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* FOOTER */

.breadcrumb-item .fa-brands{
    width: 20px;
    height: 20px;
    font-size: 24px;
}
.breadcrumb-item a{
    width: 20px;
    height: 20px;
    font-size: 12px;
}
.fondo{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.agradecimientos p{
    font-size: 0,7rem;
    transition: all .4s ease-in-out;
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6{
    color: rgba(0,128,105,1);
    font-weight: 100 !important;
}
.agradecimientos h6:hover{
    color: #37ffca;
}
.agradecimientos a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.agradecimientos a:hover{
    color: #37ffca;
    
}





/* media queries */
@media (max-width: 750px){

    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}